*.o
*.cmd
vmlinux
.tmp*
arch/arm/boot/uImage
arch/arm/boot/zImage
arch/arm/boot/Image
arch/sparc/*
arch/s390/*
arch/mips/*
arch/parisc/*
arch/microblaz/*
arch/blackfin/*
arch/um/*
arch/hexagon/*
arch/x86/*
arch/mn10300/*
arch/h8300/*
arch/cris/*
arch/c6x/*
arch/xtensa/*
arch/unicore32/*
arch/m68k/*
arch/tile/*
arch/alpha/*
arch/powerpc/*
arch/avr32/*
arch/frv/*
arch/score/*
arch/m32r/*
arch/ia64/*
arch/openrisc/*
uImage